/*==========index.html==========*/
.social {
  height: 50px;
  width: 50px;
  text-align: center;
}
.social:hover {
  -webkit-filter:saturate(2.0);
}
.modal-row {
  margin-bottom: 0;
}

/*==========landing.html==========*/
.dev-team{
  /*padding-left: 9.5%;*/
}

.collection-item.avatar={
  height: 60px;
  width: 60px;
}