<!-- Feature-Tour Button -->
<div class="fixed-action-btn" style="bottom: 4.5em; right: 2em;">
  <a class="btn-floating btn-large tooltipped orange darken-2 z-depth-3" data-position="left" data-delay="50" data-tooltip="I'm your tour guide!" href="javascript:void(0);" onclick="startIntro5()">
    <i class="large material-icons" style="font-size:2.7em;">question_answer</i>
  </a>
</div>
<br>
<div class="row">
  <div class="container">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="recipeName" type="text" ng-model="recipe.name">
          <label for="recipeName">Recipe Name</label>
          <span ng-show="recipeError" class="error"><br>Recipe name required.</span>
          <span ng-show="recipeNameLengthError" class="error"><br>Recipe name must be shorter than 18 chars! </span>
        </div>
        <div class="input-field col s5">
          <input id="ingredientName" type="text" ng-model="newIngredient">
          <label for="ingredientName">Ingredient</label>
          <span ng-show="ingredientError" class="error"><br>Ingredient name required.</span>
        </div>
        <div class="col s1 addButton">
          <div class="bottom">
            <a class="btn-floating btn waves-effect waves-light red" ng-click ="addIngredient()"><i class="material-icons">add</i></a>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="comments" name="comment" form="instructions" class="materialize-textarea" ng-model="recipe.instructions" ng-keyup="autoExpand($event)"></textarea>
                  <label for="comments">Input recipe instructions here</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <a class="btn waves-effect waves-light red" ng-click="saveRecipe()">Save Recipe</a>
      </div>
      <div class="row">
        <u>Ingredients List</u>
        <ul class="collection">
          <li class="collection-item" ng-repeat="ingredient in recipe.ingredients">{{ingredient}}<a class="trash-small secondary-content btn-floating btn waves-effect waves-light red" ng-click ="removeIngredient(ingredient)"><i class="material-icons"><span class="trash-icon-small">delete<span></i></a></li>
        </ul>
        <span ng-show="noIngredients" class="error">You must add at least one ingredient.</span>
      </div>
    </form>
  </div>
</div>

<script>

function startIntro5(){
    var intro5 = introJs();
      intro5.setOptions({
        steps: [
          {
            element: document.querySelector('#T5-Step1'),
            intro: "Welcome to What-The-Fridge! 'What's in your fridge?'™",
            position: 'left'
          },
          {
            element: document.querySelector('#T5-Step2'),
            intro: "Click this button to sign-up. Or hit right-arrow to continue tour!",
            position:"top"
          },
          {
            element: document.querySelector('#T5-Step3'),
            intro: "At the most basic level, this is how WTF! works.",
            position: 'bottom'
          },
          {
            element: document.querySelector('#T5-Step4'),
            intro: "After signing up, input your recipes!",
            position: 'right'
          },
          {
            element: document.querySelector('#T5-Step5'),
            intro: "Your 'Grocery List Anywhere!'",
            position: 'left'
          },
          {
            element: document.querySelector('#T5-Step6'),
            intro: "Well?",
            position: 'top'
          }
        ]
      });
    intro5.start();
  }

</script>
