<div class="row">
  <div class="container">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="recipeName" type="text" ng-model="recipe.name">
          <label class="active" for="recipeName">Recipe Name</label>
          <span ng-show="recipeError" class="error"><br>Recipe name required.</span>
        </div>
        <div class="input-field col s5">
          <input id="ingredientName" type="text" ng-model="newIngredient">
          <label for="ingredientName">Ingredient</label>
          <span ng-show="ingredientError" class="error"><br>Ingredient name required.</span>
        </div>
        <div class="col s1 addButton">
          <div class="bottom">
            <a class="btn-floating btn waves-effect waves-light red" ng-click ="addIngredient()"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <a class="btn waves-effect waves-light red" ng-click="saveRecipe()">Update Recipe</a>
      </div>
      <div class="row">
        <u>Ingredients List</u>
        <ul class="collection">
          <li class="collection-item" ng-repeat="ingredient in recipe.ingredients">{{ingredient}}<a class="trash-small secondary-content btn-floating btn waves-effect waves-light red" ng-click ="removeIngredient(ingredient)"><i class="material-icons"><span class="trash-icon-small">delete<span></i></a></li>
        </ul>
        <span ng-show="noIngredients" class="error">You must add at least one ingredient.</span>
      </div>
    </form>
  </div>
</div>

