<div class="container">
  <div class="center-align">
    <a ng-click='addModal()' class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons">add</i></a>
    Add item
  </div>

  <div class="container" ng-if="data.length===0">
    <div class="row center">
      <div class="s12 m4 l8">
        <div class="card blue-grey darken">
          <div class="card-content white-text">
            <span class="card-title">Empty Fridge</span>
            <p>You have nothing in the fridge!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table ng-if="data.length>0" class="centered highlight">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Price</th>    
        <th>Quantity </th>
        <th>Unit of Measure</th>
        <th>Expiration<th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="ingredient in data" ng-if="ingredient.qty>0">
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.price}}</td>
        <td><button ng-click="increaseQty(ingredient)" class="btn-floating green minus-small"><span class="minus">+</span></button> {{ingredient.qty}} <button ng-click="decreaseQty(ingredient)" class="btn-floating red minus-small"><span class="minus">-</span></button></td>
        <td>{{ingredient.qty_unit}}</td>
        <td>{{ingredient.expiration | date: 'mediumDate'}}</td>
        <td>Expired? {{ingredient.expiration}}</td>
      <tr>
    </tbody>
  </table>
  <div>
    <p>today: {{today}}</p>
    <p>twoFromToday: {{twoFromToday}}</p>
    <p>expiringAmount: {{expireAmount}}</p>
  </div>
</div>

<!-- add item Modal -->
  <div id="addItem" class="modal">
    <form ng-submit="addItem()">
      <div class="modal-content">
        <div class="container">
          <div class="input-field">
            <label for="itemToAdd">Item Name</label>
            <input required type="text" id="itemToAdd" ng-model="itemToAdd"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="submit" class="modal-action waves-effect waves-green btn-flat">Add</button>
      </div>
    </form>
  </div>
