<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="large mdi-navigation-menu"></i></a>
  <ul>
    <li ng-click='addModal()'><a class="btn-floating blue"><i class="material-icons white-text">add</i></a></li>
    <li ng-if="data.length !== 0"><a id="FT-FAB" class="btn-floating orange" href="javascript:void(0);" onclick="startIntro5()"><i class="large material-icons">question_answer</i></a></li>
    <li ng-if="data.length === 0"><a class="btn-floating btn-large yellow" ng-click="fridgePopulate()"><i class="large material-icons">question_answer</i></a></li>
  </ul>
</div>

<div class="container">
  <br/>
  <div class="row center-align">
      <span class="page-heading"> What's in my Fridge? </span>
  </div>
  <div class="container" ng-if="data.length===0">
    <div class="row center">
      <div class="s12 m4 l8">
        <div class="card blue-grey darken">
          <div class="card-content white-text">
            <span class="card-title">Empty Fridge</span>
            <p>You have nothing in the fridge!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature Tour 5 Step 1 -->
  <table ng-if="data.length>0" class="centered highlight" id="T5-Step1">
    <thead>
      <tr>
        <th class="table-title">Ingredient</th>
        <th class="table-title">Price</th>
        <th class="table-title">Quantity </th>
        <th class="table-title">Expiration</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="ingredient in data track by $index" ng-if="ingredient.qty>0">
        <!-- Feature Tour T5-Step2 -->
        <td id="T5-Step2" class="fridge-font-sizer">{{ingredient.name}}</td>
        <!-- Feature Tour T5-Step3 -->
        <td id="T5-Step3"><form class="priceForm" name="priceForm{{$index}}">
            <input required name="price" ng-click="ingredient.price ? prevPrice=ingredient.price : 0" ng-blur="savePrice(ingredient, prevPrice, $index)" ng-model="ingredient.price" min="0" value="{{ingredient.price}}" ng-pattern="/^\d+\.\d{2}$/"></input></form></td>
        <td id="T5-Step4" class="fridge-font-sizer">
          <button ng-click="increaseQty(ingredient)" class="btn-floating green minus-small"><span class="minus">+</span></button>
          {{ingredient.qty.toFixed(2)}}
          <button ng-click="decreaseQty(ingredient)" class="btn-floating red minus-small"><span class="minus">-</span></button>
        </td>
        <!-- uncomment out qty when ready to display it -->
        <!-- <td>{{ingredient.qty_unit}}</td> -->

        <!--must find a way to change the color of the
        ingredient.expiration <td></td> based on if the expiration
        is within 2 days of the current day.
        The lines convert the current and ingredient expiration
        to a similar format so that they can be more
        easily compared -->

  <!--       <td>{{twoFromToday.toISOString().split('T')[0] > ingredient.expiration.split('T')[0] }}</td> -->
<!--         <td>{{ingredient.expiration.split('T')[0]}}</td>
 -->
        <td id="date-message" ng-hide="todayInISO > ingredient.expiration.toISOString().slice(0,10)"><input id="expiration-date-input-field" ng-model="ingredient.expiration" ng-blur="saveFridge()" type="date"/></td>
        <td id="expire-message" ng-show="todayInISO > ingredient.expiration.toISOString().slice(0,10)">Expired </td>
        <td style="padding-left:3em;"><a id="trashcan-container" class="secondary-content btn-floating btn waves-effect waves-light red" ng-click ="removeIngredient(ingredient)"><i class="small material-icons"><span class="trash-icon-small">delete<span></i></a></td>

    </tbody>
  </table>
</div>

<!-- add item Modal -->
  <div id="addItem" class="modal">
    <form ng-submit="addItem()">
      <div class="modal-content">
        <div class="container">
          <div class="input-field">
            <label for="itemToAdd">Item Name</label>
            <input required type="text" id="itemToAdd" ng-model="itemToAdd"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="submit" class="modal-action waves-effect waves-green btn-flat">Add</button>
      </div>
    </form>
  </div>

<script>
  $('.tooltipped').tooltip({delay: 50});

  function startIntro5(){
      var intro5 = introJs();
        intro5.setOptions({
          steps: [
            {
              element: document.querySelector('#T5-Step1'),
              intro: "This is a digital representation of your fridge!",
              position: 'bottom'
            },
            {
              element: document.querySelector('#add-ingredient-button'),
              intro: "Click here to add an ingredient to your fridge!",
              position: 'bottom'
            },
            {
              element: document.querySelector('#T5-Step2'),
              intro: "This is the title for a given ingredient",
              position:"right"
            },
            {
              element: document.querySelector('#T5-Step3'),
              intro: "This is your ingredient's price!",
              position: 'right'
            },
            {
              element: document.querySelector('#T5-Step4'),
              intro: "The ingredient's quantity",
              position: 'left'
            },
            {
              element: document.querySelector('#date-message'),
              intro: "This is your ingredient's expiration date!",
              position: 'left'
            },
            {
              element: document.querySelector('#trashcan-container'),
              intro: "Click here to remove an ingredient from your fridge!",
              position: 'left'
            },
            {
              intro: "Don't forget to remove this item from your fridge!"
            },

          ]
        });
      intro5.start();
    }
</script>

