<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="large mdi-navigation-menu"></i>
  </a>
  <ul>
    <li><a class="modal-trigger btn-floating red" href="#shopCheck"><i class="material-icons white-text">shopping_cart</i></a></li>
    <li><a class="btn-floating blue" href='/#/create-recipes'><i class="material-icons white-text">add</i></a></li>
    <li ng-if="allRecipes.length === 0"><a class="btn-floating orange" ng-click="populate()"><i class="large material-icons">question_answer</i></a></li>
    <li ng-if="allRecipes.length !== 0"><a class="btn-floating yellow" href="javascript:void(0);" onclick="startIntro4()">
    <i class="large material-icons">question_answer</i></a></li>
  </ul>
</div>

<div class="container">
    <br/>
    <div class="col s9">
      <div class="input-field grey darken-2">
        <input id="search" type="search" ng-model="searchText" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </div>
</div>
<br>

<div class="container" ng-if="allRecipes.length === 0">
  <div class="row center">
    <div class="s12 m4 l8">
      <div class="card card-colorer z-depth-2">
        <div class="card-content">
          <span class="card-title">Get cooking!</span>
          <p>You have no recipes! </p>
          <p>Add one today by clicking the button above!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Feature Tour Tour-4-Step-1 -->
<div class="container">
  <div class="row" id="T4-Step1">
    <div class="col s4 animated" style="-webkit-animation-duration:{{$index * 400}}ms"  ng-repeat="item in allRecipes | filter:searchText">
      <!-- Feature Tour T4-Step2 -->
      <div class ="card small card-small z-depth-1 hoverable" id="T4-Step2">
        <div class="card-image">
          <img src="http://www.midwestliving.com/sites/midwestliving.com/themes/mwl_theme/images/MWL_default.gif">
        </div>

        <div class="card-content">
          <div class="row">
            <span class="card-title recipe-title activator" id="{{item.title.toLowerCase().split(' ').join('')}}" for="{{item}}">{{item.title}}</span>
            <span class="right card-title price">${{item.price.toFixed(2)}}</span>
          </div>
          <div class="row">
            <input type="checkbox" checklist-model="recipes.selected" checklist-value ="item" id="{{item}}" />
            <label for="{{item}}">I'm eating this</label>
          </div>
        </div>

        <div class="card-reveal">
          <span id="dismiss{{item.title.toLowerCase().split(' ').join('')}}" class="recipe-title-backs card-title grey-text text-darken-4" for="{{item}}">{{item.title}}<i class="material-icons small right">close</i></span>
          <span class="price left">${{item.price.toFixed(2)}}</span></br> </br>
          <div ng-repeat="subitem in item.ingredients">
            <span>{{subitem}}</span>
          </div>
          <div class="card-action">
            <span ng-click="getCurrentRecipe(item)"><a href="javascript:;"><i class="material-icons small left" id="T4-Step5">edit</i></a></span>
            <span ng-click="deleteModal(item)"><a href="javascript:;"><i class="material-icons small left" id="T4-Step6">delete</i></a></span>
            <span id="{{item.title.toLowerCase().split(' ').join('')}}Instructions" ng-click="getInstructions(item.id)" ><a class= "small-text-link" href="javascript:;">Instructions</a></span>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="suggestedRecipe[0].title" class="col s4 animated">
      <div class ="card small card-small blue-grey darken-1">
        <div class="card-image">
          <img src="http://www.midwestliving.com/sites/midwestliving.com/themes/mwl_theme/images/MWL_default.gif">
        </div>
        <div class="card-content">
          <span class="card-title recipe-title activator white-text text-darken-4" for="{{suggestRecipe}}">{{suggestedRecipe[0].title}}</span>
          <!-- <span class="price">${{suggestedRecipe[0].price}}</span> -->
          </br>
          <a class="waves-effect waves-light btn" ng-click="addSuggestedRecipe(suggestedRecipe)">Add To My Recipes</a>
        </div>
        <div class="card-reveal blue-grey darken-1 white-text" id="T4-Step4">
          <span class="recipe-title-backs card-title" for="{{suggestedRecipe}}">{{suggestedRecipe[0].title}}<i class="material-icons small right">close</i></span>
        </br>
          <div ng-repeat="ingredient in suggestedRecipe">
            <span>{{ingredient.name}}</span>
          </div>

          <div class="card-action">
            <span ng-click="getInstructions(suggestedRecipe[0].recipe_id)">Click here for Instructions</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- deleteCheck Modal -->
<div id="deleteCheck" class="modal">
  <div class="modal-content">
    <p>Are you sure you want to delete {{deleteRecipe.title}}? </p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="delete(deleteRecipe)" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>

<!-- shopCheck Modal -->
<div id="shopCheck" class="modal">
  <div class="modal-content">
    <p ng-show="recipes.selected.length > 0">On this trip, you are making:</p>
    <p ng-hide="recipes.selected.length > 0">Do you want to create a shopping list without selecting recipes?</p>
    <ul>
      <li ng-repeat="recipe in recipes.selected">{{recipe.title}}</li>
    </ul>
    <p ng-show="recipes.selected.length > 0">Is this correct?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="getShoppingList()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.modal-trigger').leanModal();
  });
  $('.tooltipped').tooltip({delay: 50});

  function startIntro4(){
    var intro4 = introJs();
      intro4.setOptions({
        steps: [
          {
            element: document.querySelector('#T4-Step1'),
            intro: "Welcome to our Recipes page!",
            position: 'top'
          },
          {
            element: document.querySelector('#T4-Step2'),
            intro: "This card digitally represents your recipe!",
            position:"right"
          },
          {
            element: document.querySelector('.recipe-title'),
            intro: "Here's the title!",
            position: 'right'
          },
          {
            element: document.querySelector('.recipe-title'),
            intro: "Click here to reveal your recipe's ingredients!",
            position: 'right'
          },
          {
            element: document.querySelector('#T4-Step5'),
            intro: "Click here to edit this recipe!",
            position: 'bottom'
          },
           {
            element: document.querySelector('#T4-Step6'),
            intro: "Click here delete your recipe!",
            position: 'bottom'
          },
          {
            element: document.querySelector('#T4-Step7'),
            intro: "This is the cost of your ingredients list!",
            position: 'bottom'
          },
          {
            element: document.querySelector('#T4-Step8'),
            intro: "Check this box to include yourrecipe's ingredients in your shopping list!",
            position: 'right'
          },
          {
            intro: "This concludes our Recipes page tour!"
          },
        ]
      });
    intro4.start();
  }
</script>
