<br><br>

<!-- Feature-Tour Button -->
<div class="container" ng-if="allRecipes.length !== 0">
  <div class="fixed-action-btn" style="top: 4.5em; right: 2em;">
    <a id="FT-FAB" class="btn-floating btn-large orange darken-2 z-depth-3" href="javascript:void(0);" onclick="startIntro4()">
      <i class="large material-icons" style="font-size:2.7em;">question_answer</i>
    </a>
  </div>
</div>

<div class="container" ng-if="allRecipes.length === 0">
  <div class="fixed-action-btn" style="top: 4.5em; right: 2em;">
    <a class="btn-floating btn-large orange darken-2 z-depth-3" ng-click="populate()">
      <i class="large material-icons" style="font-size:2.7em;">question_answer</i>
    </a>
  </div>
</div>

<div class="container">
  <br>
  <a href='/#/create-recipes' class="btn-floating btn-medium waves-effect waves-light blue button-add"><i class="material-icons">add</i></a>
  Add recipe
 <input id="search" class="search-bar" ng-model="searchText" placeholder="Search by recipe name or ingredient"</label>
  <div class="container" ng-if="allRecipes.length === 0">
    <div class="row center">
      <div class="s12 m4 l8">
        <div class="card blue-grey darken">
          <div class="card-content white-text">
            <span class="card-title">Get cooking!</span>
            <p>You have no recipes! </p>
            <p>Add one today by clicking the button above!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="row" ng-repeat="item in allRecipes track by $index" ng-if="$index % 3 === 0">
    <div class="col s4" ng-repeat="i in [$index, $index + 1, $index + 2]">
      <div class ="card small card-small">
        <div class="card-image">
          <img src="http://www.midwestliving.com/sites/midwestliving.com/themes/mwl_theme/images/MWL_default.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4" for="{{item}}">{{allRecipes[i].title}}</span>
          <span class="price">${{allRecipes[i].price}}</span>
          </br>
          <input type="checkbox" checklist-model="recipes.selected" checklist-value ="allRecipes[i]" id="{{allRecipes[i]}}" />
          <label for="{{allRecipes[i]}}">I'm eating this</label>
          <div class="row">
          <div><p ng-click="deleteModal(allRecipes[i])"><a href="javascript:;"><i class="material-icons right">delete</i></a></p></div>
          <div><p ng-click="getCurrentRecipe(allRecipes[i])"><a href="javascript:;"><i class="material-icons right">mode edit</i></a></p></div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4" for="{{item}}">{{allRecipes[i].title}}<i class="material-icons right">close</i></span>
          <div ng-repeat="subitem in allRecipes[i].ingredients">
            <span>{{subitem}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
  <!-- Feature Tour Tour-4-Step-1 -->
  <div class="row" id="T4-Step1">
    <div class="col s4" ng-repeat="item in allRecipes | filter:searchText">
      <!-- Feature Tour T4-Step2 -->
      <div class ="card small card-small" id="T4-Step2">
        <div class="card-image">
          <img src="http://www.midwestliving.com/sites/midwestliving.com/themes/mwl_theme/images/MWL_default.gif">
        </div>
        <div class="card-content">
          <span id="{{item.title.toLowerCase().split(' ').join('')}}" class="recipe-title card-title activator grey-text text-darken-4" for="{{item}}">{{item.title}}</span>
          <span class="price" id="T4-Step7">${{item.price.toFixed(2)}}</span>
          <!-- Feature Tour T4-Step3 & T4-Step4 -->
          <!-- Feature Tour T4-Step7 -->
          </br>
          <!-- Feature Tour T4-Step8 -->
            <input type="checkbox" checklist-model="recipes.selected" checklist-value ="item" id="{{item}}" />
            <label id="T4-Step8" class="left" for="{{item}}">I'm eating this</label> </br></br></br>
          <div class="row">
          <!-- Feature Tour T4-Step5 -->
          <div><span ng-click="getCurrentRecipe(item)"><a href="javascript:;"><i class="material-icons small left" id="T4-Step5">edit</i></a></span></div>
          <div><span ng-click="deleteModal(item)"><a href="javascript:;"><i class="material-icons small left" id="T4-Step6">delete</i></a></span></div>
          </div>
        </div>
        <div class="card-reveal">
          <span id="dismiss{{item.title.toLowerCase().split(' ').join('')}}" class="card-title grey-text text-darken-4" for="{{item}}">{{item.title}}<i class="material-icons right">close</i></span>
          <span class="price left">${{item.price.toFixed(2)}}</span></br> </br>
          <div ng-repeat="subitem in item.ingredients">
            <span>{{subitem}}</span>
          </div>
          <a id="{{item.title.toLowerCase().split(' ').join('')}}Instructions" ng-click="getInstructions(item.id)" class="waves-effect waves-light btn">Instructions</a>
        </div>  
      </div>
    </div>
  </div>

  <!-- Recipe suggestions from other users -->
  <div class="row" ng-if="suggestedRecipe[0].title">
    <div class="col s4 offset-s4">
      <div class ="card small card-small blue-grey darken-1">
        <div class="card-image">
          <img src="http://www.midwestliving.com/sites/midwestliving.com/themes/mwl_theme/images/MWL_default.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text text-darken-4" for="{{suggestRecipe}}">{{suggestedRecipe[0].title}}<i class="material-icons right">more_vert</i></span>
          <!-- <span class="price">${{suggestedRecipe[0].price}}</span> -->
          </br>
          <a class="waves-effect waves-light btn" ng-click="addSuggestedRecipe(suggestedRecipe)">Yum! Add this to my recipes!</a>
        </div>
        <div class="card-reveal" id="T4-Step4">
          <span class="card-title grey-text text-darken-4" for="{{suggestedRecipe}}">{{suggestedRecipe[0].title}}<i class="material-icons right">close</i></span>
          <!-- <span class="price left">${{suggestedRecipe[0].price}}</span></br> </br> -->
          <div ng-repeat="ingredient in suggestedRecipe">
            <li>{{ingredient.name}}</li>
          </div>
          <a ng-click="getInstructions(suggestedRecipe[0].id)" class="waves-effect waves-light btn">Instructions</a>
        </div>  
      </div>
    </div>
  </div>

  <!-- deleteCheck Modal -->
  <div id="deleteCheck" class="modal">
    <div class="modal-content">
      <p>Are you sure you want to delete {{deleteRecipe.title}}? </p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
      <a ng-click="delete(deleteRecipe)" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
  </div>

  <!-- goShoppingButton -->
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="modal-trigger" href="#shopCheck"><i class="large material-icons">shopping_cart</i>
    </a>
  </div>

  <!-- shopCheck Modal -->
  <div id="shopCheck" class="modal">
    <div class="modal-content">
      <p ng-show="recipes.selected.length > 0">On this trip, you are making:</p>
      <p ng-hide="recipes.selected.length > 0">Do you want to create a shopping list without selecting recipes?</p>
      <ul>
        <li ng-repeat="recipe in recipes.selected">{{recipe.title}}</li>
      </ul>
      <p ng-show="recipes.selected.length > 0">Is this correct?</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
      <a ng-click="getShoppingList()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
  </div>

<script>
$(document).ready(function(){
  $('.modal-trigger').leanModal();
  });
  $('.tooltipped').tooltip({delay: 50});

  function startIntro4(){
    var intro4 = introJs();
      intro4.setOptions({
        steps: [
          {
            element: document.querySelector('#T4-Step1'),
            intro: "Welcome to our Recipes page!",
            position: 'top'
          },
          {
            element: document.querySelector('#T4-Step2'),
            intro: "This card digitally represents your recipe!",
            position:"right"
          },
          {
            element: document.querySelector('.recipe-title'),
            intro: "Here's the title!",
            position: 'right'
          },
          {
            element: document.querySelector('.recipe-title'),
            intro: "Click here to reveal your recipe's ingredients!",
            position: 'right'
          },
          {
            element: document.querySelector('#T4-Step5'),
            intro: "Click here to edit this recipe!",
            position: 'bottom'
          },
           {
            element: document.querySelector('#T4-Step6'),
            intro: "Click here delete your recipe!",
            position: 'bottom'
          },
          {
            element: document.querySelector('#T4-Step7'),
            intro: "This is the cost of your ingredients list!",
            position: 'bottom'
          },
          {
            element: document.querySelector('#T4-Step8'),
            intro: "Check this box to include yourrecipe's ingredients in your shopping list!",
            position: 'right'
          },
          {
            intro: "This concludes our Recipes page tour!"
          },
        ]
      });
    intro4.start();
  }
</script>
