<div class="container">
  <div class="row center-align">
    Shopping List
    <!-- Note: If the price is saved in any format other than "xxx.xx" where x are digits, the price will be dropped from the database. Need to add form validation to tell the user to enter the price correctly. Two digits after the decimal are REQUIRED

    Also, we now have TWO buttons on this page. Instead of redirecting, these buttons should show a message when the action
    is successfully completed, so that a user can potentially click both buttons to save the shopping list AND add to fridge
     -->
    <br>
    <button class="fridgeButton btn waves-effect waves-light" ng-click="addToFridge()">Add all to Fridge</button>
    <button class="saveButton btn waves-effect waves-light" ng-click="saveModal()">Save shopping list</button>
  </div>
  <div ng-hide="fridgeFlag">
    All items added to fridge.
  </div>
  <div ng-hide="notSavedFlag">
    Shopping list saved.
  </div>
  <div class="row center-align list-price">
    Total Price: ${{totalPrice.toFixed(2)}}
  </div>
  <ul class="collection">
    <li class="collection-item dismissable" ng-repeat="ingredient in shoppingList track by $index">
      <h5>{{ingredient.name}}</h5>
      <table>
        <tr>
          <td>Qty</td>
          <td><input class="quantity" name="qty" ng-model="ingredient.qty" min="0"></input></td>
        </tr>
        <tr>
          <td>Expiration</td>
          <td><input type="date" ng-model="ingredient.expiration" class="datepicker"></input></td>
        </tr>
        <tr>
          <td>Price</td>
          <td>
          <form class="priceForm" name="priceForm{{$index}}">
            <input required name="price" ng-click="ingredient.price ? prevPrice=ingredient.price : 0" ng-blur="savePrice(ingredient, prevPrice, $index)" ng-model="ingredient.price" min="0" value="{{ingredient.price}}" ng-pattern="/^\d+\.\d{2}$/"></input></td>
          </form>
        </tr>
      </table>

      <!-- <div>Qty: <input class="quantity" name="qty" ng-model="ingredient.qty" min="0"></input><div>
      <div>Price: 
        <form class="priceForm" name="priceForm{{$index}}">
          <input required name="price" ng-model="ingredient.price" min="0" value="{{ingredient.price}}" ng-pattern="/^\d+\.\d{2}$/"></input>
          <button ng-click="savePrice(ingredient, $index)">Save</button></form>
      </div>
      <div>Expiration: <input type="date" class="datepicker" style="width: 30%;"></input></div> -->
    </li>
  </ul>
</div>

<!-- saveList Modal -->
  <div id="saveList" class="modal">
    <form ng-submit="saveList()">
      <div class="modal-content">
        <div class="container">
          <div class="input-field">
            <label for="listName">Shopping List Name (optional)</label>
            <input type="text" id="listName" ng-model="listName"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Save</button>
      </div>
    </form>
  </div>


