/*==========index.html==========*/

.social {
  height: 50px;
  width: 50px;
  text-align: center;
}
.social:hover {
  -webkit-filter:saturate(2.0);
}
.modal-row {
  margin-bottom: 0;
}

/*=====modal=====*/
.modal-content{
  padding-left: 0;
  padding-right: 0;
}

.dactive{
  background: #485B61 !important;
}

/*=====navbar=====*/

.navbar-font-color{
  color:#90caf9;
}

/*=====footer=====*/

/*keeps the footer fixed to the bottom of the page*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../../img/fridge.jpg");
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

/*==========landing.html==========*/

/*=====feature-tour=====*/
.introjs-helperNumberLayer{
  font-size: 1.5em;
  width: 30px;
  height:30px;
  padding-top: 3px;
}

/*=====how-it-works=====*/

.hiw-button-adjuster{
  margin-top: -.3em;
}

.hiw-responsive-content{
  font-size: 1em;
  text-align: left;
}

#hiw-responsive-header{
  color:white;
  text-align: center;
}

#hiw-shell-container{
  border: 3px solid black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
}

#hiw-inner-shell{
  margin-bottom:0;
  padding-top:.1em;
  border-bottom:3px solid black;
  background-color: #90caf9;
}

#hiw-inner-container{
  border: 3px solid black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: white;
}

#how-it-works-container{
  border: 3px solid black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#hiw-call-to-action-container{
  padding:.1em 2em .1em;
}

#hiw-responsive-footer{
  padding-top:1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0;
  background-color: #90caf9;
  border-top: 3px solid black;
}

.how-it-works-contents{
  border-right-style: dashed;
  border-right-width: .1em;
}

.hiw-content-title{
  font-size: 2em;
  margin-bottom: .3em;
}

.hiw-hover-icon{
  margin-top: -1.2em;
  color: #f57c00;
}

#responsive-parallax{

}

#hiw-large-title{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-bottom: .2em;
  margin-bottom: .2em;
  color:black;
}

/*=====FAQ=====*/

.icon-color-modifier{
  color:#f57c00;
}

.faq-outer-panel{
  background-color: #424242;
  color:white;
}

.faq-inner-panel{
  background-color: #424242;
  color:#90caf9;
}

#faq-outermost-container{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:1.1em;
  padding-bottom: 2em;
}

/*===========recipes===========*/
.price {
  font-size:1em;
  color:green !important;
}

.recipe-title {
  font-size:1em !important;
}

.card-small {
  min-width: 250px;
}

.container .ng-scope {
  width: 100%;
}

.recipe-title-backs {
  font-size:1.2em !important;
}
.small-text-link {
  font-size: .8em;
}
/*========create-recipes=========*/

.addButton {
  position:relative;
  min-height:50px;
}

.bottom {
  position:absolute;
  bottom:0;
  left:0;
}

/*.trash-icon-small {
  position:relative;
  font-size:1.5em;
}*/

.error {
  font-size:12px;
  font-family:monospace;
  color:red;
}

/*========recipe-instructions=========*/

#comments {
  height:auto;
  max-width:600px;
  color:#999;
  font-weight:400;
  font-size:16px;
  font-family:'Ubuntu', Helvetica, Arial, sans-serif;
  width:100%;
  background:#fff;
  border-radius:3px;
  line-height:1.2em;
  border:none;
  box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
  padding:30px;
  max-height: 150px;
  overflow: scroll;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  -webkit-font-smoothing:antialiased !important;
}
.instruction-text {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

/*========dashboard=========*/

.double-digit-steps{
  font-size: 1.5em;
  width: 50px;
  height:50px;
  /*padding-top: 3px;*/
}

.card-colorer{
  background: #212121;
  color: #90caf9;
  border: solid 2px;
  border-color:black;
}

.clickable-content-color{
  color:#ef6c00;
}

.title-type-content{
  color:white;
}

.bullet-point-type-content{
  color:#90caf9;
}

.dash-img{
  background-image: url("../../img/fridge.jpg");
}
/*<img src="../../img/fridge.jpg" style="display: block">*/
.data-card-front {

}
.data-card-back {
  color:white;
}
/*========shopping-list=========*/

.quantity {
  width:50px;
}

.priceForm {
  display:inline-block;
}

.list-price {
  color: green;
}
.shopping-saved-list {
  max-height: 10px;
}

/*============fridge============*/

.fridge-font-sizer{
  font-size:1em;
}

#expiration-date-input-field{
  font-size:1em;
  text-align:center;
  margin-left:1em;
}

.bottom-right {
  bottom: 45px;
  right: 24px;
}

.minus {
  position:relative;
  bottom:8.5px;
}

.minus-small {
  height:1.2em;
  width:1.2em;
}

#expire-message {
  color:red;
  flex: initial;
  font-size:1em;
}

#date-message {
  flex: initial;
}

#fridge-add-button-container{
  font-size:2.5em;
}

.table-title{
  font-size:1.2em;
}

/*============Barcode Scanner============*/

#interactive.viewport {
  width: 100%;
}

/* line 6, ../sass/_viewport.scss */
#interactive.viewport canvas, video {
  float: left;
  width: 100%;
}
#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -640px;
  /*width: 90%;*/
}

#result_strip {
  margin: 10px 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 10px 0;
}
#result_strip > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#result_strip > ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
}
#result_strip > ul > li .thumbnail {
  padding: 5px;
  margin: 4px;
  border: 1px dashed #CCC;
}
#result_strip > ul > li .thumbnail img {
  max-width: 140px;
}
#result_strip > ul > li .thumbnail .caption {
  white-space: normal;
}
#result_strip > ul > li .thumbnail .caption h4 {
  text-align: center;
  word-wrap: break-word;
  height: 40px;
  margin: 0px;
}
#result_strip > ul:after {
  content: "";
  display: table;
  clear: both;
}

/*============ Common ============*/

.page-heading {
  font-size: 1.5em;
}

td {
    padding: 0px;
    height: 10px;
}


.datepicker {
  max-width: 50%;
}

