/*==========index.html==========*/
.social {
  height: 50px;
  width: 50px;
  text-align: center;
}
.social:hover {
  -webkit-filter:saturate(2.0);
}
.modal-row {
  margin-bottom: 0;
}
/*=====footer=====*/
.footer-row-title{
  color:white;
}
.social-footer{
  height:15px;
  width:15px;
  padding-top: 2px;
}


/*==========landing.html==========*/
.dev-team{
  text-align: center;
}

.collection-item.avatar {
  height: 60px;
  width: 60px;
}


/*========create-recipes=========*/

.addButton {
  position:relative;
  min-height:50px;
}

.bottom {
  position:absolute;
  bottom:0;
  left:0;
}

.trash-small {
  height:18px;
  width:18px;
}

.trash-icon-small {
  font-size:16px;
  position:relative;
  bottom:13px;
}

/*========dashboard=========*/
.card-small {
  min-width: 250px;
}

.container .ng-scope {
  width: 100%;
}

/*========shopping-list=========*/

.quantity {
  width:50px;
}

/*============fridge============*/

.bottom-right {
  bottom: 45px;
  right: 24px;
}

.minus {
  position:relative;
  bottom:12px;
}

.minus-small {
  height:12px;
  width:12px;
}
